<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>주소로 장소 표시하기</title>
    
</head>
<body>
    x좌표: <input id=X type="text" value="37.5173319258532"></div>
    y좌표: <input id=Y type="text" value="127.047377408384"></div>
    X : <div id=x></div>
    y : <div id=y></div>
    <div id="clickLatlng"></div>
검색: <input id=ADDR type="text" value="서울시 강남구"/> <br>
출력할 값: <input id=WRITE type="text" value="GG"/> <br>
<button onclick="buttonClick()">찾기</button>

<script>

</script>

<div id="map" style="width:100%;height:350px;"></div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=75bdd1f3923ca7511f9238d28b1c4b36&libraries=services"></script>
<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = {
        center: new kakao.maps.LatLng(50, 100), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    }; 
    // 지도를 생성합니다    
    var map = new kakao.maps.Map(mapContainer, mapOption); 
    
    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();
    
    // 주소로 좌표를 검색합니다
    function buttonClick(){
    const ADDR = document.getElementById("ADDR").value;
    const WRITE = document.getElementById("WRITE").value;
    //좌표로 찾기용
    const X = document.getElementById("X").value;
    const Y = document.getElementById("Y").value;

geocoder.addressSearch(ADDR, function(result, status) { // 문자로만 받아야 함. 따라서 바로 대입!! addressSearch!!

    // 정상적으로 검색이 완료됐으면 
     if (status === kakao.maps.services.Status.OK) {

        //위경도로 찾기
        // var coords = new kakao.maps.LatLng(X, Y);

        // 검색으로 찾기
        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
        document.getElementById("x").textContent = result[0].y
        document.getElementById("y").textContent = result[0].x
        // 결과값으로 받은 위치를 마커로 표시합니다
        var marker = new kakao.maps.Marker({
            map: map,
            position: coords
        });

        // 인포윈도우로 장소에 대한 설명을 표시합니다
        var infowindow = new kakao.maps.InfoWindow({
            content: `<div style="width:150px;text-align:center;padding:6px 0;">위치:${ADDR} || 출력값: ${WRITE}</div>`
        });
        infowindow.open(map, marker);

        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
        map.setCenter(coords);
    } 
})

};

    
</script>
</body>
</html>